{
    email contact@lysangels.com
}

lysangels.com, www.lysangels.com {
    encode gzip

    handle /static/* {
        root * /srv
        file_server
    }

    handle /media/* {
        root * /srv
        file_server
    }

    handle {
        request_body {
            max_size 8MB
        }
        reverse_proxy web:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Real-IP {remote_host}
        }
    }
}

umami.lysangels.com {
    reverse_proxy umami:3000
}
